<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="checklist.pdasolucoes.com.br.checklist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:label="Forms"
        android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:noHistory="true"
            android:name="br.com.pdasolucoes.checklist.activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label=""
            android:name="br.com.pdasolucoes.checklist.activities.HomeActivity">
        </activity>

        <activity
        android:name="br.com.pdasolucoes.checklist.activities.StartActivity">
    </activity>

        <activity
            android:name="br.com.pdasolucoes.checklist.activities.SincActivity">
        </activity>

        <activity
            android:name="br.com.pdasolucoes.checklist.activities.AppointmentActivity">
        </activity>

        <activity
            android:name="br.com.pdasolucoes.checklist.activities.QuestionsActivity">
        </activity>

        <activity
            android:name="br.com.pdasolucoes.checklist.activities.QueryActivity">
        </activity>

        <activity
            android:name="br.com.pdasolucoes.checklist.activities.ForgetPassActivity">
        </activity>

        <activity android:name="br.com.pdasolucoes.checklist.activities.FrameTodoActivity"></activity>

        <activity android:name="br.com.pdasolucoes.checklist.activities.ListaQuery"></activity>

        <activity android:name="br.com.pdasolucoes.checklist.activities.ListaRespostaFaltaTodo"></activity>

    </application>

</manifest>